
.c-header {
  @include fixed(top 0 left 0);
  width: 100%;
  min-width: inherit;
  font-size: $base-font-size;
  color: white();
  line-height: $header-height;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  z-index: z('header');
  transition: transform .5s ease-out;

    @include m('isUp') {
      transform: translateY(-107%);
    }

    .l-wrapper {
      padding: 0 20px;
      text-align: right;

      @include media("screen", "<tablet") {
        text-align: left;
      }
    }
}


.c-header,
.site-menu > li:first-child {
  height: $header-height;
  background-color: palette(san-marino);
}