#port--about-sec {
  /* Begin ABOUT section */
  background: url("../img/about.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#port--project-sec {
  /*Begin PROJECT section*/
  background: url("../img/project.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

#port--skills-sec {
  background: url("../img/skills.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

#port--contact-sec {
  background: url("../img/contact.jpg") no-repeat fixed;
  background-size: cover;
  text-align: center;
  height: 100vh; 
}


#port--about-sec {
    font-family: $testFont1;
    font-size: 40px;
}

#port--project-sec {
    font-family: $testFont2;
    font-size: 40px;
}