@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url("https://fonts.googleapis.com/css?family=Oswald");
.menu-item:after {
  margin-left: auto;
  margin-right: auto; }

.menu-item:after {
  display: block; }

.input__trigger, .search-modal {
  display: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*:focus {
  outline: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@-webkit-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-moz-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-ms-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-o-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
/*
@include keyframes('shaker') {
  2% { @include prefix((transform: translate(0.5px, -1.5px) rotate(-0.5deg)), webkit ms); }
  4% { @include prefix((transform: translate(0.5px, 1.5px) rotate(1.5deg)), webkit ms); }
  6% { @include prefix((transform: translate(1.5px, 1.5px) rotate(1.5deg)), webkit ms); }
  8% { @include prefix((transform: translate(2.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  10% { @include prefix((transform: translate(0.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  12% { @include prefix((transform: translate(1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  14% { @include prefix((transform: translate(0.5px, 0.5px) rotate(0.5deg)), webkit ms); }
  16% { @include prefix((transform: translate(-1.5px, -0.5px) rotate(1.5deg)), webkit ms); }
  18% { @include prefix((transform: translate(0.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  20% { @include prefix((transform: translate(2.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  22% { @include prefix((transform: translate(0.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  24% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(-0.5deg)), webkit ms); }
  26% { @include prefix((transform: translate(1.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  28% { @include prefix((transform: translate(-0.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  30% { @include prefix((transform: translate(1.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  32% { @include prefix((transform: translate(2.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  34% { @include prefix((transform: translate(2.5px, 2.5px) rotate(-0.5deg)), webkit ms); }
  36% { @include prefix((transform: translate(0.5px, -1.5px) rotate(0.5deg)), webkit ms); }
  38% { @include prefix((transform: translate(2.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  40% { @include prefix((transform: translate(-0.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  42% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  44% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  46% { @include prefix((transform: translate(1.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  48% { @include prefix((transform: translate(2.5px, -0.5px) rotate(0.5deg)), webkit ms); }
  50% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  52% { @include prefix((transform: translate(-0.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  54% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  56% { @include prefix((transform: translate(0.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  58% { @include prefix((transform: translate(2.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  60% { @include prefix((transform: translate(2.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  62% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  64% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(1.5deg)), webkit ms); }
  66% { @include prefix((transform: translate(0.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  68% { @include prefix((transform: translate(2.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  70% { @include prefix((transform: translate(2.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  72% { @include prefix((transform: translate(-0.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  74% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  76% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  78% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  80% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(-0.5deg)), webkit ms); }
  82% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(-0.5deg)), webkit ms); }
  84% { @include prefix((transform: translate(-0.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  86% { @include prefix((transform: translate(2.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  88% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  90% { @include prefix((transform: translate(-1.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  92% { @include prefix((transform: translate(-1.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  94% { @include prefix((transform: translate(0.5px, 0.5px) rotate(-0.5deg)), webkit ms); }
  96% { @include prefix((transform: translate(2.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  98% { @include prefix((transform: translate(-1.5px, -1.5px) rotate(-0.5deg)), webkit ms); }
  0%, 100% { @include prefix((transform: translate(0, 0) rotate(0)), webkit ms); }
}
*/
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-ms-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-o-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-o-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-ms-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-o-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-moz-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-ms-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-o-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-moz-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-ms-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-o-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-moz-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-ms-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-o-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@-webkit-keyframes rubberBand {
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-moz-keyframes rubberBand {
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-ms-keyframes rubberBand {
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-o-keyframes rubberBand {
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes rubberBand {
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-moz-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-ms-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-o-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
footer {
  padding: 1.5rem;
  background: #bde0ff;
  text-align: center;
  font-size: 1rem; }

#port--about-sec {
  /* Begin ABOUT section */
  background: url("../img/about.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh; }

#port--project-sec {
  /*Begin PROJECT section*/
  background: url("../img/project.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh; }

#port--skills-sec {
  background: url("../img/skills.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh; }

#port--contact-sec {
  background: url("../img/contact.jpg") no-repeat fixed;
  background-size: cover;
  text-align: center;
  height: 100vh; }

#port--about-sec {
  font-family: Tangerine, Georgia;
  font-size: 40px; }

#port--project-sec {
  font-family: "Oswald", sans-serif;
  font-size: 40px; }

.main-menu {
  background-color: #bde0ff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  border-bottom: 5px solid #3be9ff;
  z-index: 1000;
  transition: top .7s ease-in-out; }

.menu-item {
  background: none;
  border: none;
  display: inline-block;
  text-align: center; }

.menu-item a {
  text-decoration: none;
  display: inline-block;
  width: 130px;
  color: #3A4BA6;
  font-size: 1.7rem;
  background-color: transparent;
  padding: 10px 10px 20px 10px;
  margin: 0 0 -1px 0px;
  transition: all 0.2s; }
  @media screen and (max-width: 599px) {
    .menu-item a {
      display: none; } }

.menu-item a:hover {
  font-weight: 400;
  color: #CDDC39;
  transition: all 0.2s; }

.menu-item:hover:after {
  width: 100%;
  opacity: 1; }

.menu-item:after {
  content: '';
  position: relative;
  width: 0;
  height: 5px;
  background: #CDDC39;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.menu-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  font-size: 2rem;
  font-weight: 300; }

.search {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 18px; }

#SearchField {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 185px; }
  @media screen and (max-width: 599px) {
    #SearchField {
      width: 50px; } }

#SearchField:focus {
  outline: none; }

.search-field {
  position: absolute;
  margin-left: -185px;
  font-size: 1rem;
  transition: margin-top 0.2s, font-size 0.2s;
  color: #acacac; }
  @media screen and (max-width: 599px) {
    .search-field {
      margin-left: -55px;
      font-size: 10px; } }

.search-icon-label i {
  font-size: 20px; }
  .search-icon-label i:hover {
    color: #FFEB3B;
    cursor: pointer; }
  @media screen and (max-width: 599px) {
    .search-icon-label i {
      font-size: 5px; } }

#SearchIcon {
  display: none; }

#SearchField:focus + label,
#SearchField:valid + label {
  margin-top: -12px;
  margin-left: -185px;
  font-size: 12px;
  transition: margin-top 0.5s, font-size 0.5s; }
  @media screen and (max-width: 599px) {
    #SearchField:focus + label, #SearchField:valid + label {
      margin-top: -12px;
      margin-left: -80px; } }

.name {
  position: absolute;
  font-family: Fantasy;
  left: 20px;
  bottom: 18px;
  color: #797979;
  font-size: 2rem; }
  .name strong {
    color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 319px) {
    .name {
      left: 50px;
      font-size: 1.5rem; }
      .name strong {
        color: #00618A; } }

.nav-up {
  top: -85px; }

#SearchIcon:checked + .search-modal {
  display: inherit; }
#SearchIcon:checked + .search-modal .search-modal-content {
  /*@include prefix((animation: zoomInDown 1s both), webkit);*/
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s; }

.search-modal-content {
  position: relative;
  width: 350px;
  height: 200px;
  background-color: #FF1493;
  border-radius: 10px;
  top: 20%;
  left: 50%; }
  .search-modal-content--width {
    position: relative;
    display: none;
    font-size: 1em;
    color: white;
    top: 50%;
    text-align: center; }
  @media screen and (max-width: 319px) {
    .search-modal-content--less_than_320 {
      display: block; } }
  @media screen and (min-width: 320px) and (max-width: 599px) {
    .search-modal-content--320_600 {
      display: block; } }
  @media (min-width: 600px) and (max-width: 767px) {
    .search-modal-content--600_768 {
      display: block; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .search-modal-content--768_1024 {
      display: block; } }
  @media screen and (min-width: 1025px) {
    .search-modal-content--greater_than_1024 {
      display: block; } }

.search-modal-content i {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 30px;
  cursor: pointer; }

.search-modal-content .search-modal-dw {
  position: absolute;
  bottom: 20px;
  color: blue;
  left: 50%;
  transform: translateX(-50%); }

.search-modal-dw.first {
  display: block; }

.search-modal-text {
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #FFEB3B;
  top: 25%; }

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 10% 100%;
    opacity: 0; }
  100% {
    transform: translate(-50%, 0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1; } }
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0; }

.fa-2x {
  font-size: 2em; }

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px; }

.side-main-menu:hover {
  width: 180px;
  overflow: visible; }

.side-main-menu {
  position: fixed;
  background: #f7aaf6;
  border-right: 1px solid #e5e5e5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 20%;
  height: 160px;
  left: 0;
  width: 50px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  z-index: 1000; }
  @media screen and (max-width: 599px) {
    .side-main-menu {
      display: None; } }

.side-main-menu > ul {
  margin: 7px 0; }

.side-main-menu li {
  position: relative;
  display: block;
  width: 180px; }

.side-main-menu li i {
  display: table-cell;
  vertical-align: middle; }

.side-main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: "Times New Roman",Georgia,Serif;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }

.side-main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px; }

.side-main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  left: 20px;
  font-size: 20px;
  font-family: "Times New Roman",Georgia,Serif; }

.side-main-menu i {
  position: relative;
  padding: 5px;
  width: 40px;
  font-size: 1.5rem;
  color: #424242; }

.no-touch .scrollable.hover {
  overflow-y: hidden; }

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible; }

a:hover, a:focus {
  text-decoration: none; }

.side-main-menu li:hover > a, nav.side-main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
  border-right: thick solid #2A62F6; }

.icon-active {
  background-color: #3cace2; }

/*# sourceMappingURL=main.css.map */
