// ANIMATIONS
// ---------------------------


@include keyframes('fadeIN') {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes('double-flash') {
  0%        { opacity: 1; }
  16.66667% { opacity: 0; }
  33.33333% { opacity: 1; }
  50%       { opacity: 0; }
  66.66667% { opacity: 1; }
  100%      { opacity: 1; }
}
/*
@include keyframes('shaker') {
  2% { @include prefix((transform: translate(0.5px, -1.5px) rotate(-0.5deg)), webkit ms); }
  4% { @include prefix((transform: translate(0.5px, 1.5px) rotate(1.5deg)), webkit ms); }
  6% { @include prefix((transform: translate(1.5px, 1.5px) rotate(1.5deg)), webkit ms); }
  8% { @include prefix((transform: translate(2.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  10% { @include prefix((transform: translate(0.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  12% { @include prefix((transform: translate(1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  14% { @include prefix((transform: translate(0.5px, 0.5px) rotate(0.5deg)), webkit ms); }
  16% { @include prefix((transform: translate(-1.5px, -0.5px) rotate(1.5deg)), webkit ms); }
  18% { @include prefix((transform: translate(0.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  20% { @include prefix((transform: translate(2.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  22% { @include prefix((transform: translate(0.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  24% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(-0.5deg)), webkit ms); }
  26% { @include prefix((transform: translate(1.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  28% { @include prefix((transform: translate(-0.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  30% { @include prefix((transform: translate(1.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  32% { @include prefix((transform: translate(2.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  34% { @include prefix((transform: translate(2.5px, 2.5px) rotate(-0.5deg)), webkit ms); }
  36% { @include prefix((transform: translate(0.5px, -1.5px) rotate(0.5deg)), webkit ms); }
  38% { @include prefix((transform: translate(2.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  40% { @include prefix((transform: translate(-0.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  42% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  44% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  46% { @include prefix((transform: translate(1.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  48% { @include prefix((transform: translate(2.5px, -0.5px) rotate(0.5deg)), webkit ms); }
  50% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  52% { @include prefix((transform: translate(-0.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  54% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  56% { @include prefix((transform: translate(0.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  58% { @include prefix((transform: translate(2.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  60% { @include prefix((transform: translate(2.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  62% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  64% { @include prefix((transform: translate(-1.5px, 1.5px) rotate(1.5deg)), webkit ms); }
  66% { @include prefix((transform: translate(0.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  68% { @include prefix((transform: translate(2.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  70% { @include prefix((transform: translate(2.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  72% { @include prefix((transform: translate(-0.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  74% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  76% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(1.5deg)), webkit ms); }
  78% { @include prefix((transform: translate(-1.5px, 2.5px) rotate(0.5deg)), webkit ms); }
  80% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(-0.5deg)), webkit ms); }
  82% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(-0.5deg)), webkit ms); }
  84% { @include prefix((transform: translate(-0.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  86% { @include prefix((transform: translate(2.5px, 1.5px) rotate(0.5deg)), webkit ms); }
  88% { @include prefix((transform: translate(-1.5px, 0.5px) rotate(1.5deg)), webkit ms); }
  90% { @include prefix((transform: translate(-1.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  92% { @include prefix((transform: translate(-1.5px, -1.5px) rotate(1.5deg)), webkit ms); }
  94% { @include prefix((transform: translate(0.5px, 0.5px) rotate(-0.5deg)), webkit ms); }
  96% { @include prefix((transform: translate(2.5px, -0.5px) rotate(-0.5deg)), webkit ms); }
  98% { @include prefix((transform: translate(-1.5px, -1.5px) rotate(-0.5deg)), webkit ms); }
  0%, 100% { @include prefix((transform: translate(0, 0) rotate(0)), webkit ms); }
}
*/
@include keyframes('load') {
  0% { stroke-dashoffset:0 }
}

@include keyframes('pulse') {
  0% { @include prefix((transform: scale(1.1)), webkit ms); }
  50% { @include prefix((transform: scale(0.8)), webkit ms); }
  100% { @include prefix((transform: scale(1.1)), webkit ms); }
}

@include keyframes('open') {
  0% { @include prefix((transform: scale(1, 0)), webkit ms); }
  100% { @include prefix((transform: scale(1, 1)), webkit ms); }
}

@include keyframes('slideLeft') {
  0% { @include prefix((transform: translateX(150%)), webkit ms); }
  100% { @include prefix((transform: translateX(0%)), webkit ms); }
}

@include keyframes('slideRight') {
  0% { @include prefix((transform: translateX(-150%)), webkit ms); }
  100% { @include prefix((transform: translateX(0%)), webkit ms); }
}

@include keyframes('zoomInDown') {
  0% {
    opacity: 0;
    @include prefix((transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0)), webkit);
    @include prefix((animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190)), webkit);
  }
  60% {
    opacity: 1;
    @include prefix((transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0)), webkit);
    @include prefix((animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1)), webkit);
  }
}

@include keyframes('rubberBand') {
  30% { @include prefix((transform: scale3d(1.25, 0.75, 1)), webkit); }
  40% { @include prefix((transform: scale3d(0.75, 1.25, 1)), webkit); }
  50% { @include prefix((transform: scale3d(1.15, 0.85, 1)), webkit); }
  65% { @include prefix((transform: scale3d(.95, 1.05, 1)), webkit); }
  75% { @include prefix((transform: scale3d(1.05, .95, 1)), webkit); }
  0%, 100% { @include prefix((transform: scale3d(1, 1, 1)), webkit); }
}


@include keyframes('rotateIn') {
  0% {
    @include prefix((transform-origin: center), webkit);
    @include prefix((transform: rotate3d(0, 0, 1, -200deg)), webkit);
    opacity: 0;
  }
  100% {
    @include prefix((transform-origin: center), webkit);
    @include prefix((transform: none), webkit);
    opacity: 1;
  }
}





