.section-title {
	position: relative;
	text-align: center;
	padding-top: 3%;
	font-size: 2rem;
	font-weight: bold;
	color: palette(black);
	font-family: $sectionTitle;
}

.section-text {
	position: relative;
	padding-top: 10%;
}


.section-text p {
	width: 60%;
	margin: 25px auto 0;
	font-size: 1.7rem;
	text-align: center;
}

.section-des p {
	margin: 15px auto 10px;
	font-size: 1rem;
	text-align: center;
}